
@{
    ViewData["Title"] = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Header Banner -->
    <div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="/img/slider/1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 caption mt-90">
                    <h5>Platform Office</h5>
                    <h1>Hakkımızda</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- About -->
    <section class="about section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-30 animate-box" data-animate-effect="fadeInUp"> 
                    <span>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                    </span>
                    <div class="section-subtitle">Platform Office</div>
                    <div class="section-title">Hayalinizdeki Çalışma Ortamı</div>
                    <p>Platform Office olarak; şirketlere üst düzey bir
                        hizmet sağlamak, üyelerimize
                        konfor ve lüks zevklere hitap eden, modern ve sosyal ofis
                        çözümleri sunmak için çalışıyoruz. 
                        </p>
                    <p> Şirketlerin A’dan Z’ye tüm operasyonel giderlerini karşılarken sadece işlerine odaklanmalarını ve bu keyifli ofis ortamının tadını çıkarmalarını istiyoruz. </p>
                    <!-- reservation -->
                    <div class="reservations">
                        <div class="icon"><span class="flaticon-call"></span></div>
                        <div class="text">
                            <p>Bize Ulaşın</p> <a href="tel:855-100-4444">0212 706 18 05</a>
                        </div>
                    </div>
                </div>
                <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp"> <img src="/img/rooms/8.jpg" alt="" class="mt-90 mb-30"> </div>
                <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp"> <img src="/img/rooms/2.jpg" alt=""> </div>
            </div>
        </div>
    </section>

