
@{
    ViewData["Title"] = "RandevuOlusturulduYetkili";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="#" class="h1">
                <img class="animation__shake" src="~/dist/img/loading2.gif" alt="AS" style="width:200px;">
            </a>
        </div>
        <div class="card-body">
            <h1 class="login-box-msg">Randevu Oluşturuldu Bizi Seçtiğiniz İçin Teşekkür Ederiz.</h1>



        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
