@model AdminPanel.Entities.Siparisler

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Siparisler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SiparisTarihi" class="control-label"></label>
                <input asp-for="SiparisTarihi" class="form-control" />
                <span asp-validation-for="SiparisTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiparisTutari" class="control-label"></label>
                <input asp-for="SiparisTutari" class="form-control" />
                <span asp-validation-for="SiparisTutari" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiparisDurumu" class="control-label"></label>
                <input asp-for="SiparisDurumu" class="form-control" />
                <span asp-validation-for="SiparisDurumu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdresId" class="control-label"></label>
                <select asp-for="AdresId" class ="form-control" asp-items="ViewBag.AdresId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AdresBaslik" class="control-label"></label>
                <input asp-for="AdresBaslik" class="form-control" />
                <span asp-validation-for="AdresBaslik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostaKodu" class="control-label"></label>
                <input asp-for="PostaKodu" class="form-control" />
                <span asp-validation-for="PostaKodu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefon" class="control-label"></label>
                <input asp-for="Telefon" class="form-control" />
                <span asp-validation-for="Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
