
@{
    ViewData["Title"] = "Galeri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Galeri</h1>

<div class="row">
    <div class="col-md-6"><img src="https://www.gran-turismo.com/images/c/i1Hcy3TXNxb48O.jpg" width="100%" /></div>
    <div class="col-md-6"><img src="https://www.gran-turismo.com/images/c/i1Hcy3TXNxb48O.jpg" width="100%" /></div>
    <div class="col-md-4"><img src="https://www.gran-turismo.com/images/c/i1Hcy3TXNxb48O.jpg" width="100%" /></div>
    <div class="col-md-4"><img src="https://www.gran-turismo.com/images/c/i1Hcy3TXNxb48O.jpg" width="100%" /></div>
    <div class="col-md-4"><img src="https://www.gran-turismo.com/images/c/i1Hcy3TXNxb48O.jpg" width="100%" /></div>
   <div class="col-md-3"><img src="https://www.gran-turismo.com/images/c/i1Hcy3TXNxb48O.jpg" width="100%" /></div>
    <div class="col-md-3"><img src="https://www.gran-turismo.com/images/c/i1Hcy3TXNxb48O.jpg" width="100%" /></div>
    <div class="col-md-3"><img src="https://www.gran-turismo.com/images/c/i1Hcy3TXNxb48O.jpg" width="100%" /></div>
    <div class="col-md-3"><img src="https://www.gran-turismo.com/images/c/i1Hcy3TXNxb48O.jpg" width="100%" /></div>
</div>
