
@{
     ViewData["Title"] = "Galeri";
      Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center bold">Hakkımda</h1>


 <div class=""><img src="https://www.gran-turismo.com/images/c/i1Hcy3TXNxb48O.jpg" width="100%" /></div></br>
 <div><p>
     <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</i> <b>Curabitur vitae dolor vulputate sapien lobortis bibendum quis quis massa. Vestibulum mattis ullamcorper urna in tristique.</b> Nunc pretium leo et ligula efficitur euismod. Phasellus sit amet nibh ornare, pellentesque tellus nec, sollicitudin ex. Donec porta sed quam in condimentum. Sed egestas velit volutpat, pretium ante finibus, posuere mi. Nunc placerat suscipit massa, vitae lobortis justo tempor nec. Nullam a mauris nec felis porttitor volutpat id non elit. Nulla facilisi. Quisque feugiat ut ex sed vestibulum. Curabitur a pellentesque tellus.Praesent egestas consectetur ante eget molestie. Nullam eu commodo metus. Vestibulum at varius est. Proin fringilla sed magna at mattis.</p>
 <p>
<mark>Sed</mark> sit amet fermentum ligula. <del>Vestibulum bibendum in erat vitae facilisis.</del> Nulla sit amet justo dictum, condimentum nisl quis, tincidunt metus. Proin commodo enim purus, dapibus pulvinar dolor dignissim sollicitudin. Sed eu auctor mi, sit amet molestie nunc. Pellentesque tincidunt nunc id massa venenatis, a vulputate enim tempor. Aenean feugiat nibh sed dolor dictum, quis elementum risus egestas. Maecenas vehicula tincidunt mi. Praesent enim quam, finibus malesuada orci ut, venenatis tincidunt sapien. Mauris sollicitudin vitae nisi nec sollicitudin. Etiam pulvinar augue est, non egestas mi aliquet at. Suspendisse vitae metus orci. Nam vestibulum erat interdum, volutpat nisl vel, fringilla lacus. Maecenas nec fermentum mauris. Morbi congue, dolor nec sodales scelerisque, justo turpis laoreet urna, sed pretium lacus dolor eget risus.
</p>
<p class="renkKirmizi">
<u>Vivamus ultrices scelerisque erat.</u> Duis tincidunt, augue eu aliquam scelerisque, odio mauris dignissim arcu, sed aliquet enim nisl accumsan orci. Morbi nec facilisis felis, id dignissim est. Phasellus euismod in ante at varius. Vestibulum et turpis tincidunt orci dapibus tempus quis eget lorem. Ut a aliquam libero. Donec in nunc eu ante finibus vestibulum. Donec et aliquet massa, non tincidunt turpis. Nam placerat odio vitae augue fermentum porta. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque ut condimentum sem, eu vestibulum massa. Praesent lectus leo, porta tincidunt suscipit ac, lacinia sed leo.
</p>
 

 </div>

