
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Üyelik İşlemlerim</h1>

<a asp-controller="UyeIslemleri" asp-action="DoktorEkle">Doktor Ekle</a>
<br>
<a asp-controller="UyeIslemleri" asp-action="SekreterEkle">Sekreter Ekle</a>
<br>
<a asp-controller="UyeIslemleri" asp-action="HastaKayit">Hasta Ekle</a>

<br>
<a asp-controller="UyeIslemleri" asp-action="Cikis">Çıkış</a>
<br>
<a asp-controller="UyeIslemleri" asp-action="SifremiUnuttum">Şifremi Unuttum</a>

<br>
<hr />
<h2>Bilgilendirme Sayfaları</h2>
<br>
<a asp-controller="UyeIslemleri" asp-action="SifrenizGuncellendi">Sifreniz Guncellendi</a>
<br>
<a asp-controller="UyeIslemleri" asp-action="MailDogrulamaYapildi">Mail Dogrulama Yapildi</a>
<br>
<a asp-controller="UyeIslemleri" asp-action="ErisimYetkinizYok">Erişim Yetkiniz Yok</a>

