
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MailDogrulamaYapildi</title>
</head>
<body>
    <h1>Doğrulama yapıldı.</h1>
    <h2>Mail doğrulama yaptığınız için teşekkür ederiz.</h2>



</body>
</html>
