
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SifreSifirlamaYap</title>
</head>
<body>

    <h1>SifreSifirlamaYap</h1>


</body>
</html>
