@using HastaneProje.Models.UyeIslemleri;
@model ResetPasswordViewModel
@{
    Layout = null;
}

<h1>SifreSifirlamaYap</h1>

<h4>ResetPasswordViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SifreSifirlamaYap">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Code" type="hidden" />

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordTekrar" class="control-label"></label>
                <input asp-for="PasswordTekrar" class="form-control" />
                <span asp-validation-for="PasswordTekrar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Şifremi Sıfırla" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

