
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UyelikOnaylamaYapmalisiniz</title>
</head>
<body>


<h1>Üye olduğunuz için Teşekkürler!</h1>

<p>Lütfen mail adresinize gönderilen üyelik aktivasyon linki üzerinden mail adresinizi onaylayın.</p>


</body>
</html>
