
@{
    ViewData["Title"] = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ABdev_header_spacer"></div>

<div class="bannerpages">
	<div class="container clearfix">
		<div class="floatleft">
			<h1>İletişim</h1>
		</div>
		<div class="floatright">
			<div class="breadcrumbs"><a asp-controller="Home"asp-action="Index">Home</a>  <span class="current">- Kitap Sayfa</span></div>
		</div>
	</div>
</div>
<section class="dnd_section_dd section_with_header">
	<header>
		<div class="dnd_container">
			<h3>Soru 1</h3>
		</div>
	</header>

	<div class="dnd_section_content">
		<div class="dnd_container">
			<div class="dnd_column_dd_span12 ">
				<div class="wpcf7" id="wpcf7-f2038-p2035-o1" lang="en-US" dir="ltr">
					<div class="screen-reader-response">
					</div>
					<form id="contact-form" action="#" novalidate="novalidate">
						<div class="row">
							<div class="span4">
								<span class="wpcf7-form-control-wrap your-name">
									<input name="name" id="name" type="text" placeholder="name">
								</span>
							</div>
							<div class="span4">
								<span class="wpcf7-form-control-wrap your-email">
									<input name="mail" id="mail" type="text" placeholder="email">
								</span>
							</div>
							<div class="span4">
								<span class="wpcf7-form-control-wrap your-email">
									<input name="subject" id="subject" type="text" placeholder="subject">
								</span>
							</div>
						</div>
						<div class="row">
							<span class="wpcf7-form-control-wrap your-message">
								<textarea name="comment" id="comment" placeholder="message"></textarea>
							</span><br />
							<input type="submit" id="submit_contact" value="Submit">
							<div id="msg" class="message"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
