
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ABdev_header_spacer"></div>
			
		<div id="rev_slider_18_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;">
			<!-- START REVOLUTION SLIDER 5.0.4.1 auto mode -->
			<div id="rev_slider_18_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.4.1">
				<ul>
					<!-- SLIDE  -->
					<li data-index="rs-42" data-transition="slideleft" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="/upload/slider-agency1-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide - 1" data-description="">
					<!-- MAIN IMAGE -->
					<img src="/upload/slider2.jpg" alt="" data-bgposition="center center" data-kenburns="on" data-duration="7000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="107" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
					<!-- LAYERS -->
					<!-- LAYER NR. 1 -->
					<div class="tp-caption cmo-white-sub-heading tp-resizeme" id="slide-42-layer-1" data-x="11" data-y="center" data-voffset="-121" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="y:50px;opacity:0;s:500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="1350" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 48px; line-height: 60px; font-weight: ; color: rgba(255, 255, 255, 1.00);font-family:Open Sans;padding:0 0 0 0;border-color:rgba(0, 0, 0, 1.00);border-radius:0 0 0 0;">
						WHY EASY TEMPLATE IS DIFFERENT
					</div>
					<!-- LAYER NR. 2 -->
					<div class="tp-caption small_light_white tp-resizeme" id="slide-42-layer-2" data-x="12" data-y="center" data-voffset="-50" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="y:-50px;opacity:0;s:1000;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="2350" data-splitin="lines" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.1" style="z-index: 6; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 17px; line-height: 28px; font-weight: 300; color: rgba(255, 255, 255, 1.00);font-family:'Open Sans';border-color:rgba(255, 214, 88, 1.00);border-radius:0 0 0 0;">
						Perfection can't be achieved without dedication and passion.
					</div>
					<!-- LAYER NR. 3 -->
					<div class="tp-caption small_light_white tp-resizeme" id="slide-42-layer-3" data-x="12" data-y="center" data-voffset="-20" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="y:-50px;opacity:0;s:1000;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="3350" data-splitin="lines" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.1" style="z-index: 7; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 17px; line-height: 28px; font-weight: 300; color: rgba(255, 255, 255, 1.00);font-family:'Open Sans';border-color:rgba(255, 214, 88, 1.00);border-radius:0 0 0 0;">
						We are breathing our products every minute,
					</div>
					<!-- LAYER NR. 4 -->
					<div class="tp-caption small_light_white tp-resizeme" id="slide-42-layer-4" data-x="10" data-y="center" data-voffset="10" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="y:-50px;opacity:0;s:1000;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="3850" data-splitin="lines" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.1" style="z-index: 8; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 17px; line-height: 28px; font-weight: 300; color: rgba(255, 255, 255, 1.00);font-family:'Open Sans';border-color:rgba(255, 214, 88, 1.00);border-radius:0 0 0 0;">
						but still hungry for more !
					</div>
					<!-- LAYER NR. 5 -->
					<div class="tp-caption black tp-resizeme" id="slide-42-layer-5" data-x="10" data-y="center" data-voffset="90" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="x:50px;opacity:0;s:500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="4900" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 9; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: px; line-height: px; font-weight: 100; color: rgba(0, 0, 0, 1.00);font-family:Arial;padding:0 0 0 0;border-radius:0 0 0 0;">
						<a class="cmo-button" href="#" target="_blank"><span>BUY NOW</span></a>
					</div>
					</li>
					<!-- SLIDE  -->
					<li data-index="rs-43" data-transition="slideleft" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="~/upload/slider-agency3-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide - 2" data-description="">
					<!-- MAIN IMAGE -->
					<img src="/upload/slider1.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
					<!-- LAYERS -->
					<!-- LAYER NR. 1 -->
					<div class="tp-caption cmo-white-lato22 tp-resizeme" id="slide-43-layer-1" data-x="center" data-hoffset="" data-y="center" data-voffset="-120" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="y:50px;opacity:0;s:500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="1350" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 22px; line-height: 30px; font-weight: 300; color: rgba(255, 255, 255, 1.00);font-family:Lato;padding:0 0 0 0;border-color:rgba(0, 0, 0, 1.00);border-radius:0 0 0 0;">
						<span style="letter-spacing: 3px;">BRANDING / DESIGN / DEVELOPMENT</span>
					</div>
					<!-- LAYER NR. 2 -->
					<div class="tp-caption cmo-white-sub-heading tp-resizeme" id="slide-43-layer-2" data-x="center" data-hoffset="" data-y="center" data-voffset="-50" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="y:50px;opacity:0;s:500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="1850" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 48px; line-height: 60px; font-weight: ; color: rgba(255, 255, 255, 1.00);font-family:Open Sans;padding:0 0 0 0;border-color:rgba(0, 0, 0, 1.00);border-radius:0 0 0 0;">
						<span style="letter-spacing: 10px;">DESIGN STUDIO</span>
					</div>
					<!-- LAYER NR. 3 -->
					<div class="tp-caption black tp-resizeme" id="slide-43-layer-3" data-x="center" data-hoffset="" data-y="center" data-voffset="70" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="opacity:0;s:800;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="2900" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: px; line-height: px; font-weight: 100; color: rgba(0, 0, 0, 1.00);font-family:Arial;padding:0 0 0 0;border-radius:0 0 0 0;">
						<a class="cmo-button" href="#" target="_blank"><span>BUY NOW</span></a>
					</div>
					</li>
					<!-- SLIDE  -->
					<li data-index="rs-44" data-transition="slideleft" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="~/upload/slider-agency2-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide - 3" data-description="">
					<!-- MAIN IMAGE -->
					<img src="/upload/slider3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
					<!-- LAYERS -->
					<!-- LAYER NR. 1 -->
					<div class="tp-caption cmo-white-text tp-resizeme" id="slide-44-layer-1" data-x="center" data-hoffset="" data-y="center" data-voffset="-100" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="y:-50px;opacity:0;s:800;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="950" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 24px; line-height: 32px; font-weight: ; color: rgba(255, 255, 255, 1.00);font-family:Open Sans;padding:0 0 0 0;border-color:rgba(0, 0, 0, 1.00);border-radius:0 0 0 0;">
						WE HELP YOU GROW YOUR BUSINESS
					</div>
					<!-- LAYER NR. 2 -->
					<div class="tp-caption cmo-white-sub-heading tp-resizeme" id="slide-44-layer-2" data-x="center" data-hoffset="" data-y="center" data-voffset="-20" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="y:-50px;opacity:0;s:800;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="1850" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 48px; line-height: 60px; font-weight: ; color: rgba(255, 255, 255, 1.00);font-family:Open Sans;padding:0 0 0 0;border-color:rgba(0, 0, 0, 1.00);border-radius:0 0 0 0;">
						EASY TEMPLATE DESIGN STUDIO
					</div>
					<!-- LAYER NR. 3 -->
					<div class="tp-caption black tp-resizeme" id="slide-44-layer-3" data-x="center" data-hoffset="" data-y="center" data-voffset="80" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="opacity:0;s:800;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="2700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: px; line-height: px; font-weight: 100; color: rgba(0, 0, 0, 1.00);font-family:Arial;padding:0 0 0 0;border-radius:0 0 0 0;">
						<a class="cmo-button" href="#" target="_blank"><span>LEARN MORE</span></a>
					</div>
					</li>
				</ul>
				<div class="tp-bannertimer" style="height: 5px; background-color: rgba(0, 0, 0, 0.15);">
				</div>
			</div>
		</div>
		<!-- END REVOLUTION SLIDER -->

	<section class="dfeats mt50">
		<div class="container">
            <div class="row">
                <div class="col-sm-4 mb30">
                    <div class="wpb_wrapper2">
                        <div class="icon_box">
                            <div class="pull-left">
                                <div class="un-icon">
                                    <i class="fa fa-graduation-cap"></i>
                                </div>
                            </div>
                            <div class="media-body ">
                                <h4 class="media-heading"><a href="#">Education Organization</a></h4>
                                <p>
                                    Educational organization has multiple meanings according to the field and setting.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb30">
                    <div class="wpb_wrapper2">
                        <div class="icon_box">
                            <div class="pull-left">
                                <div class="un-icon">
                                    <i class="fa fa-paper-plane"></i>
                                </div>
                            </div>
                            <div class="media-body ">
                                <h4 class="media-heading"><a href="#">Training Center</a></h4>
                                <p>
                                    Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb30">
                    <div class="wpb_wrapper2">
                        <div class="icon_box">
                            <div class="pull-left">
                                <div class="un-icon">
                                    <i class="fa fa-ticket"></i>
                                </div>
                            </div>
                            <div class="media-body ">
                                <h4 class="media-heading"><a href="#">Event Tickets</a></h4>
                                <p>
                                    You can use this theme for university, training center, non-profit organization.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-4 mb30">
                    <div class="wpb_wrapper2">
                        <div class="icon_box">
                            <div class="pull-left">
                                <div class="un-icon">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                            </div>
                            <div class="media-body ">
                                <h4 class="media-heading"><a href="#">Online Shop</a></h4>
                                <p>
                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb30">
                    <div class="wpb_wrapper2">
                        <div class="icon_box">
                            <div class="pull-left">
                                <div class="un-icon">
                                    <i class="fa fa-cubes"></i>
                                </div>
                            </div>
                            <div class="media-body ">
                                <h4 class="media-heading"><a href="#">No Limitation</a></h4>
                                <p>
                                    Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb30">
                    <div class="wpb_wrapper2">
                        <div class="icon_box">
                            <div class="pull-left">
                                <div class="un-icon">
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="media-body ">
                                <h4 class="media-heading"><a href="#">Great Support</a></h4>
                                <p>
                                    We provide free support for customers from Monday to Friday. Contact us for any issues you have
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		
	</section>

	<section id="about_us" class="dnd_section_dd section_big_header section_with_header" >
		<header>
			<div class="dnd_container">
				<h3>ABOUT <span class="blue_text">US</span></h3>
				<p>OUR LIFE INSIDE COMPANY</p>
			</div>
		</header>

		<div class="dnd_section_content">
			<div class="container">
				<div class="row">
					<div class="col-md-6 ">
						<span class="clear  " id="span_8608_0"></span>
						<div class="dnd-accordion    ui-accordion ui-widget ui-helper-reset" data-expanded="1" role="tablist">
							<h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-accordion-header-active ui-state-active ui-corner-top" role="tab" id="ui-accordion-1-header-0" aria-controls="ui-accordion-1-panel-0" aria-selected="true" aria-expanded="true" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span>Our vision</h3>
							<div class="dnd-accordion-body ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" id="ui-accordion-1-panel-0" aria-labelledby="ui-accordion-1-header-0" role="tabpanel" aria-hidden="false" >
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.
							</div>
							<h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-1-header-1" aria-controls="ui-accordion-1-panel-1" aria-selected="false" aria-expanded="false" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>Our mission</h3>
							<div class="dnd-accordion-body ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-1-panel-1" aria-labelledby="ui-accordion-1-header-1" role="tabpanel" aria-hidden="true" >
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.
							</div>
							<h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-1-header-2" aria-controls="ui-accordion-1-panel-2" aria-selected="false" aria-expanded="false" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>Our ideas</h3>
							<div class="dnd-accordion-body ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-1-panel-2" aria-labelledby="ui-accordion-1-header-2" role="tabpanel" aria-hidden="true" >
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.
							</div>
						</div>
					</div>
					<div class="col-md-6 white_bar_background">
						<div class="dnd_progress_bar dnd_progress_bar_default">
							<span class="dnd_meter_label">Marketing</span>
							<div class="dnd_meter">
								<div class="dnd_meter_percentage dnd_meter_above10 dnd_meter_above20 dnd_meter_above40 dnd_meter_above50 dnd_meter_above60 dnd_meter_above70" data-percentage="75" id="div_8608_0"><span>75%</span></div>
							</div>
						</div>
						<div class="dnd_progress_bar dnd_progress_bar_default">
							<span class="dnd_meter_label">Photoshop</span>
							<div class="dnd_meter">
								<div class="dnd_meter_percentage dnd_meter_above10 dnd_meter_above20 dnd_meter_above30 dnd_meter_above50 dnd_meter_above60 dnd_meter_above70 dnd_meter_above80 dnd_meter_above90" data-percentage="90" id="div_8608_1"><span>90%</span></div>
							</div>
						</div>
						<div class="dnd_progress_bar dnd_progress_bar_default">
							<span class="dnd_meter_label">Wordpress</span>
							<div class="dnd_meter">
								<div class="dnd_meter_percentage dnd_meter_above10 dnd_meter_above20 dnd_meter_above30 dnd_meter_above40 dnd_meter_above50 dnd_meter_above60 dnd_meter_above70 dnd_meter_above80" data-percentage="85" id="div_8608_2"><span>85%</span></div>
							</div>
						</div>
						<div class="dnd_progress_bar dnd_progress_bar_default">
							<span class="dnd_meter_label">Photography</span>
							<div class="dnd_meter">
								<div class="dnd_meter_percentage dnd_meter_above10 dnd_meter_above20 dnd_meter_above30 dnd_meter_above40 dnd_meter_above50 dnd_meter_above60 dnd_meter_above70" data-percentage="70" id="div_8608_3"><span>70%</span></div>
							</div>
						</div>
						<div class="dnd_progress_bar dnd_progress_bar_default">
							<span class="dnd_meter_label">Sales</span>
							<div class="dnd_meter">
								<div class="dnd_meter_percentage dnd_meter_above10 dnd_meter_above20 dnd_meter_above40 dnd_meter_above50 dnd_meter_above60 dnd_meter_above70 dnd_meter_above80 dnd_meter_above90 dnd_meter_above100" data-percentage="100" id="div_8608_4"><span>100%</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			
		
	</section>


	<section id="our_work" class="dnd_section_dd section_big_header section_with_header" >
		<header>
			<div class="dnd_container">
				<h3>OUR <span class="blue_text">WORKS</span></h3><p>FEATURED PROJECTS</p>
			</div>
		</header>

		<div class="split-section portfoliosection">
			<div class="containersss">
				<div class="inner">
					<div class="portfoliofilter ">
						<div class="inner clearfix">
							<div id="portfolio-thirds-filters" class="portfolio-filters-box">
								<button class="active" data-filter="*">All</button>
								<button data-filter=".class1">Design</button>
								<button data-filter=".class2">Business</button>
								<button data-filter=".class3">Agency</button>
								<button data-filter=".class4">Corporate</button>
								<button data-filter=".class5">Multiuse</button>
							</div> <!-- end .portfolio-filters-box -->
						</div> <!-- end .inner -->
					</div> <!-- end .split-section-section -->
					<div class="portfolioimages">
						<div class="inner">
							<div id="portfolio-thirds" class="portfolio-thirds">
								<div class="portfolio-sizer"></div>

								<div class="item class1 cmo-portfolio-featured-image-bg" id="div_8608_5">
									<div class="cmo-pfi-hover">
										<div class="cmo-pfi-hover-inner">
											<a href="upload/image1.jpg" title="Building at night" class="cmo-pfi-external-link zoom popupzoom">
											<i class="fa fa-search-plus"></i>
											</a>
											<h3><a href="#">Building at night</a></h3>
											<div>
												<a href="#" rel="tag">Design, Business</a>, <a href="portfolio-single.html" rel="tag">architecture</a>
											</div>
										</div>
									</div>
								</div>
								<!-- End Item -->

								<div class="item class2 cmo-portfolio-featured-image-bg" id="div_8608_6">
									<div class="cmo-pfi-hover">
										<div class="cmo-pfi-hover-inner">
											<a href="upload/image2.jpg" title="Building at night" class="cmo-pfi-external-link zoom popupzoom">
											<i class="fa fa-search-plus"></i>
											</a>
											<h3><a href="#">Building at night</a></h3>
											<div>
												<a href="#" rel="tag">Design, Business</a>, <a href="portfolio-single.html" rel="tag">architecture</a>
											</div>
										</div>
									</div>
								</div>
								<!-- End Item -->

								<div class="item class3 cmo-portfolio-featured-image-bg" id="div_8608_7">
									<div class="cmo-pfi-hover">
										<div class="cmo-pfi-hover-inner">
											<a href="upload/image3.jpg" title="Building at night" class="cmo-pfi-external-link zoom popupzoom">
											<i class="fa fa-search-plus"></i>
											</a>
											<h3><a href="#">Building at night</a></h3>
											<div>
												<a href="#" rel="tag">Design, Business</a>, <a href="portfolio-single.html" rel="tag">architecture</a>
											</div>
										</div>
									</div>
								</div>
								<!-- End Item -->

								<div class="item class4 cmo-portfolio-featured-image-bg" id="div_8608_8">
									<div class="cmo-pfi-hover">
										<div class="cmo-pfi-hover-inner">
											<a href="upload/image4.jpg" title="Building at night" class="cmo-pfi-external-link zoom popupzoom">
											<i class="fa fa-search-plus"></i>
											</a>
											<h3><a href="#">Building at night</a></h3>
											<div>
												<a href="#" rel="tag">Design, Business</a>, <a href="portfolio-single.html" rel="tag">architecture</a>
											</div>
										</div>
									</div>
								</div>
								<!-- End Item -->

								<div class="item class5 cmo-portfolio-featured-image-bg" id="div_8608_9">
									<div class="cmo-pfi-hover">
										<div class="cmo-pfi-hover-inner">
											<a href="upload/image5.jpg" title="Building at night" class="cmo-pfi-external-link zoom popupzoom">
											<i class="fa fa-search-plus"></i>
											</a>
											<h3><a href="#">Building at night</a></h3>
											<div>
												<a href="#" rel="tag">Design, Business</a>, <a href="portfolio-single.html" rel="tag">architecture</a>
											</div>
										</div>
									</div>
								</div>
								<!-- End Item -->

								<div class="item class1 cmo-portfolio-featured-image-bg" id="div_8608_10">
									<div class="cmo-pfi-hover">
										<div class="cmo-pfi-hover-inner">
											<a href="upload/image6.jpg" title="Building at night" class="cmo-pfi-external-link zoom popupzoom">
											<i class="fa fa-search-plus"></i>
											</a>
											<h3><a href="#">Building at night</a></h3>
											<div>
												<a href="#" rel="tag">Design, Business</a>, <a href="portfolio-single.html" rel="tag">architecture</a>
											</div>
										</div>
									</div>
								</div>
								<!-- End Item -->

								<div class="item class1 cmo-portfolio-featured-image-bg" id="div_8608_11">
									<div class="cmo-pfi-hover">
										<div class="cmo-pfi-hover-inner">
											<a href="upload/image7.jpg" title="Building at night" class="cmo-pfi-external-link zoom popupzoom">
											<i class="fa fa-search-plus"></i>
											</a>
											<h3><a href="#">Building at night</a></h3>
											<div>
												<a href="#" rel="tag">Design, Business</a>, <a href="portfolio-single.html" rel="tag">architecture</a>
											</div>
										</div>
									</div>
								</div>
								<!-- End Item -->

								<div class="item class1 cmo-portfolio-featured-image-bg" id="div_8608_12">
									<div class="cmo-pfi-hover">
										<div class="cmo-pfi-hover-inner">
											<a href="upload/image8.jpg" title="Building at night" class="cmo-pfi-external-link zoom popupzoom">
											<i class="fa fa-search-plus"></i>
											</a>
											<h3><a href="#">Building at night</a></h3>
											<div>
												<a href="#" rel="tag">Design, Business</a>, <a href="portfolio-single.html" rel="tag">architecture</a>
											</div>
										</div>
									</div>
								</div>
								<!-- End Item -->

							</div> <!-- end .portfolio-thirds -->
						</div> <!-- end .inner -->
					</div> <!-- end .split-section-section -->
				</div> <!-- end .inner -->
				<div class="no-padding-bottom white text-center">
					<div class="inner">
						<div class="mt40"></div>
						<a href="" class="button">View All Our Works</a>
					</div> <!-- end .inner -->
				</div> <!-- end .section -->
			</div>


		</div> <!-- end .split-section -->	
		
	</section>

	<section class="dnd_section_dd section_big_header section_with_header" id="section_8608_0">
		<header>
			<div class="dnd_container">
				<h3>LATEST <span class="blue_text">NEWS</span></h3><p>BLOG</p>
			</div>
		</header>
		
		<div class="dnd_section_content">
			<div class="dnd_container">

				<div class="dnd_column_dd_span3 ">
					<div class="dnd_posts_shortcode dnd_posts_shortcode-2 clearfix has_thumbnail">
						<a class="dnd_latest_news_shortcode_thumb" href="#"><img width="1200" height="715" src="/upload/portfolio7.jpg" class="attachment-full wp-post-image" alt="portfolio7"></a>
						<div class="dnd_latest_news_shortcode_content">
							<h5><a href="#">Our PSD has the highest quality on ThemeForest</a></h5>
							<p>And finally the subconscious is the mechanism through which thought impulses which are repeated regularly with feeling and emotion are...</p>
							<div class="date_container">
								<div class="dnd_posts_date"><i class="ci_icon-time"></i> 01 October</div>
								<div class="dnd_posts_comments"><i class="ci_icon-comment"></i> 3</div>
							</div>
						</div>
					</div>
				</div>

				<div class="dnd_column_dd_span3 ">
					<div class="dnd_posts_shortcode dnd_posts_shortcode-2 clearfix has_thumbnail">
						<a class="dnd_latest_news_shortcode_thumb" href="#"><img width="1200" height="715" src="/upload/portfolio12.jpg" class="attachment-full wp-post-image" alt="portfolio12"></a>
						<div class="dnd_latest_news_shortcode_content">
							<h5><a href="#">The best quality on the marketplace</a></h5>
							<p>And finally the subconscious is the mechanism through which thought impulses which are repeated regularly with feeling and emotion are...</p>
							<div class="date_container">
								<div class="dnd_posts_date"><i class="ci_icon-time"></i> 28 August</div>
								<div class="dnd_posts_comments"><i class="ci_icon-comment"></i> 0</div>
							</div>
						</div>
					</div>
				</div>

				<div class="dnd_column_dd_span3 ">
					<div class="dnd_posts_shortcode dnd_posts_shortcode-2 clearfix has_thumbnail">
						<a class="dnd_latest_news_shortcode_thumb" href="#"><img width="1200" height="715" src="/upload/portfolio8.jpg" class="attachment-full wp-post-image" alt="videothumb"></a>
						<div class="dnd_latest_news_shortcode_content">
							<h5><a href="#">AWESOME PSD WITH TONS OF FEATURES</a></h5>
							<p>And finally the subconscious is the mechanism through which thought impulses which are repeated regularly with feeling and emotion are...</p>
							<div class="date_container">
								<div class="dnd_posts_date"><i class="ci_icon-time"></i> 27 August</div>
								<div class="dnd_posts_comments"><i class="ci_icon-comment"></i> 0</div>
							</div>
						</div>
					</div>
				</div>

				<div class="dnd_column_dd_span3 ">
					<div class="dnd_posts_shortcode dnd_posts_shortcode-2 clearfix has_thumbnail">
						<a class="dnd_latest_news_shortcode_thumb" href="#"><img width="1200" height="715" src="/upload/audiothumb1.jpg" class="attachment-full wp-post-image" alt="audiothumb"></a>
						<div class="dnd_latest_news_shortcode_content">
							<h5><a href="#">Audio post example. For your enjoyment</a></h5>
							<p>And finally the subconscious is the mechanism through which thought impulses which are repeated regularly with feeling and emotion are...</p>
							<div class="date_container">
								<div class="dnd_posts_date"><i class="ci_icon-time"></i> 26 August</div>
								<div class="dnd_posts_comments"><i class="ci_icon-comment"></i> 0</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		
		
	</section>

	<section class="dnd_section_dd section_big_header section_with_header">

		<header>
			<div class="dnd_container">
				<h3>OUR <span class="blue_text">TEAM</span></h3><p>MAKES EVERYTHING POSSIBLE</p>
			</div>
		</header>

		<div class="dnd_section_content">
			<div class="dnd_container">
				<div class="dnd_column_dd_span4 aligncenter dnd-animo" data-animation="fadeInUp" data-duration="1000" data-delay="0" id="div_8608_13">
					<div class="dnd_team_member">
						<div class="dnd_overlayed">
							<img src="~/upload/team_member3.jpg" alt="Jill Doe">
							<div class="dnd_overlay">
								<p>
									<a class="dnd_tooltip" href="#" data-gravity="n" target="_self" title="Linkedin"><i class="ci_icon-linkedin"></i></a>
									<a class="dnd_tooltip" href="#" data-gravity="n" target="_self" title="Behance"><i class="ci_icon-behance"></i></a>
									<a class="dnd_tooltip" href="#" data-gravity="n" target="_self" title="Blogger"><i class="ci_icon-blogger-blog"></i></a>
								</p>
							</div>
						</div>
						<a class="dnd_team_member_link dnd_team_member_modal_link dnd_tooltip" href="#" >
							<span class="dnd_team_member_name">Jill Doe</span>
							<span class="dnd_team_member_position">CEO / Founder</span>
						</a>

						<div class="dnd_team_member_modal">
							<h4 class="dnd_team_member_name">Jill Doe</h4>
							<p class="dnd_team_member_position">CEO / Founder</p>
							<div class="dnd_container">
								<div class="dnd_column_dd_span6">
									<img src="~/upload/team_member3.jpg" alt="Jill Doe">
								</div>
								<div class="dnd_column_dd_span6">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
									<span class="clear  " id="span_8608_1"></span>
								<div class="dnd_progress_bar dnd_progress_bar_default">
									<span class="dnd_meter_label">PHP</span>
									<div class="dnd_meter">
										<div class="dnd_meter_percentage" data-percentage="90" id="div_8608_14"><span>90%</span></div>
									</div>
								</div>
								<div class="dnd_progress_bar dnd_progress_bar_default">
									<span class="dnd_meter_label">JavaScript</span>
									<div class="dnd_meter">
										<div class="dnd_meter_percentage" data-percentage="80" id="div_8608_15"><span>80%</span></div>
									</div>
								</div>
								<div class="dnd_progress_bar dnd_progress_bar_default">
									<span class="dnd_meter_label">Great Ideas</span>
									<div class="dnd_meter">
										<div class="dnd_meter_percentage" data-percentage="100" id="div_8608_16"><span>100%</span></div>
									</div>
								</div>
							</div>
						</div>
						<div class="dnd_team_member_modal_close">X</div>
					</div>
				</div>
				<div class="aligncenter margin_bottom">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
				</div>
				<div class="dnd_follow_us">
					<a class="dnd_socialicon dnd_socialicon_facebook dnd_tooltip" data-gravity="s" href="#" target="_blank" title="Follow us on Facebook"><i class="ci_icon-facebook"></i></a>
					<a class="dnd_socialicon dnd_socialicon_twitter dnd_tooltip" data-gravity="s" href="#" target="_blank" title="Follow us on Twitter"><i class="ci_icon-twitter"></i></a>
					<a class="dnd_socialicon dnd_socialicon_googleplus dnd_tooltip" data-gravity="s" href="#" target="_blank" title="Follow us on Google+"><i class="ci_icon-googleplus"></i></a>
				</div>
			</div>

			<div class="dnd_column_dd_span4 aligncenter dnd-animo" data-animation="fadeInUp" data-duration="1000" data-delay="0" id="div_8608_17">
				<div class="dnd_team_member"><div class="dnd_overlayed">
					<img src="~/upload/team_member1.jpg" alt="Jane Satriani">
					<div class="dnd_overlay">
						<p>
							<a class="dnd_tooltip" href="#" data-gravity="n" target="_self" title="Digg"><i class="ci_icon-digg"></i></a>
							<a class="dnd_tooltip" href="#" data-gravity="n" target="_self" title="Dribbble"><i class="ci_icon-dribbble"></i></a>
							<a class="dnd_tooltip" href="#" data-gravity="n" target="_self" title="Dropbox"><i class="ci_icon-dropbox"></i></a>
						</p>
					</div>
				</div>

				<a class="dnd_team_member_link dnd_team_member_modal_link dnd_tooltip" href="#" >
					<span class="dnd_team_member_name">Jane Satriani</span>
					<span class="dnd_team_member_position">CEO and Developer</span>
				</a>

				<div class="dnd_team_member_modal">
					<h4 class="dnd_team_member_name">Jane Satriani</h4>
					<p class="dnd_team_member_position">CEO and Developer</p>
					<div class="dnd_container">

						<div class="dnd_column_dd_span6">
							<img src="~/upload/team_member1.jpg" alt="Jane Satriani">
						</div>

						<div class="dnd_column_dd_span6">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
							<span class="clear  " id="span_8608_2"></span>

							<div class="dnd_progress_bar dnd_progress_bar_default">
								<span class="dnd_meter_label">PHP</span>
								<div class="dnd_meter">
									<div class="dnd_meter_percentage" data-percentage="90" id="div_8608_18"><span>90%</span></div>
								</div>
							</div>

							<div class="dnd_progress_bar dnd_progress_bar_default">
								<span class="dnd_meter_label">JavaScript</span>
								<div class="dnd_meter">
									<div class="dnd_meter_percentage" data-percentage="80" id="div_8608_19"><span>80%</span></div>
								</div>
							</div>

							<div class="dnd_progress_bar dnd_progress_bar_default">
								<span class="dnd_meter_label">Great Ideas</span>
								<div class="dnd_meter">
									<div class="dnd_meter_percentage" data-percentage="100" id="div_8608_20"><span>100%</span></div>
								</div>
							</div>

						</div>
					</div>
					<div class="dnd_team_member_modal_close">X</div>
				</div>
			</div>

			<div class="aligncenter margin_bottom">
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
			</div>
			<div class="dnd_follow_us">
				<a class="dnd_socialicon dnd_socialicon_facebook dnd_tooltip" data-gravity="s" href="#" target="_blank" title="Follow us on Facebook"><i class="ci_icon-facebook"></i></a>
				<a class="dnd_socialicon dnd_socialicon_twitter dnd_tooltip" data-gravity="s" href="#" target="_blank" title="Follow us on Twitter"><i class="ci_icon-twitter"></i></a>
				<a class="dnd_socialicon dnd_socialicon_googleplus dnd_tooltip" data-gravity="s" href="#" target="_blank" title="Follow us on Google+"><i class="ci_icon-googleplus"></i></a>
			</div>
		</div>
		<div class="dnd_column_dd_span4 aligncenter dnd-animo" data-animation="fadeInUp" data-duration="1000" data-delay="0" id="div_8608_21">
			<div class="dnd_team_member">
				<div class="dnd_overlayed">
					<img src="/upload/team_member4.jpg" alt="Steve Vai">
					<div class="dnd_overlay">
						<p><a class="dnd_tooltip" href="mailto:#" data-gravity="n" title="Mail"><i class="ci_icon-emailalt"></i></a><a class="dnd_tooltip" href="#" data-gravity="n" target="_self" title="Pinterest"><i class="ci_icon-pinterest"></i></a><a class="dnd_tooltip" href="#" data-gravity="n" target="_self" title="Feed"><i class="ci_icon-rss"></i></a></p>
					</div>
				</div>
				<a class="dnd_team_member_link dnd_team_member_modal_link dnd_tooltip" href="#" >
					<span class="dnd_team_member_name">Steve Vai</span>
					<span class="dnd_team_member_position">Creative developer</span>
				</a>
				<div class="dnd_team_member_modal">
					<h4 class="dnd_team_member_name">Steve Vai</h4>
					<p class="dnd_team_member_position">Creative developer</p>
					<div class="dnd_container">
						<div class="dnd_column_dd_span6">
							<img src="/upload/team_member4.jpg" alt="Steve Vai">
						</div>
						<div class="dnd_column_dd_span6">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
							<span class="clear  " id="span_8608_3"></span>

							<div class="dnd_progress_bar dnd_progress_bar_default">
								<span class="dnd_meter_label">PHP</span>
								<div class="dnd_meter">
									<div class="dnd_meter_percentage" data-percentage="90" id="div_8608_22"><span>90%</span></div>
								</div>
							</div>
							<div class="dnd_progress_bar dnd_progress_bar_default">
								<span class="dnd_meter_label">JavaScript</span>
								<div class="dnd_meter">
									<div class="dnd_meter_percentage" data-percentage="80" id="div_8608_23"><span>80%</span></div>
								</div>
							</div>
							<div class="dnd_progress_bar dnd_progress_bar_default">
								<span class="dnd_meter_label">Great Ideas</span>
								<div class="dnd_meter">
									<div class="dnd_meter_percentage" data-percentage="100" id="div_8608_24"><span>100%</span></div>
								</div>
							</div>
						</div>
					</div>
					<div class="dnd_team_member_modal_close">X</div>
				</div>
			</div>
			<div class="aligncenter margin_bottom">
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
			</div>
			<div class="dnd_follow_us">
				<a class="dnd_socialicon dnd_socialicon_facebook dnd_tooltip" data-gravity="s" href="#" target="_blank" title="Follow us on Facebook"><i class="ci_icon-facebook"></i></a>
				<a class="dnd_socialicon dnd_socialicon_twitter dnd_tooltip" data-gravity="s" href="#" target="_blank" title="Follow us on Twitter"><i class="ci_icon-twitter"></i></a>
				<a class="dnd_socialicon dnd_socialicon_googleplus dnd_tooltip" data-gravity="s" href="#" target="_blank" title="Follow us on Google+"><i class="ci_icon-googleplus"></i></a>
			</div>
		</div>
		</div>
		</div>
			
		
	</section>


	<section class="dnd_section_dd white_text no_padding" id="section_8608_1">
		
		<div class="dnd_section_content">
			<div class="dnd_container">
				<div class="dnd_column_dd_span12 ">
					<div class="dnd-callout_box dnd-callout_box_style_1 color_white">
						<span class="dnd-callout_box_title">ARE YOU READY FOR AWESOMENESS? THIS IS CALL TO ACTION</span>
						<p></p>
						<a href="#" target="_self" class="dnd-button1 dnd-button_light dnd-button_rounded dnd-button_large">PURCHASE NOW</a>
					</div>
				</div>
			</div>
		</div>		
		
	</section>