@model MvcOdev.Entities.KitapSayfaForm
@using MvcOdev.Services
@{
    ViewData["Title"] = "KitapSayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="ABdev_header_spacer"></div>

<div class="bannerpages">
	<div class="container clearfix">
		<div class="floatleft">
			<h1>İletişim</h1>
		</div>
		<div class="floatright">
			<div class="breadcrumbs"><a asp-controller="Home" asp-action="Index">Home</a>  <span class="current">- Kitap Sayfa</span></div>
		</div>
	</div>
</div>
<section class="dnd_section_dd section_with_header">
	<header>
		<div class="dnd_container">
			<h1 class="text-center">Soru 1</h1>
		</div>
	</header>
		@{
		if (Model.KitapAdi != null)
		{
<div class="row">
	<div class="col-12">Girmiş olduğunuz Kitap Bilgileri Aşağıdaki Gibidir.</div>

			<div>Kitap Adi:@Model.KitapAdi</div>
	
			<div>İlk Gün Okunan Sayfa Sayısı:@Model.IlkGunOkunanSayfa</div>
		
			<div>Her Gün Okunan Sayfa Sayısı:@Model.HerGunOkunanSayfasi</div>
	
			<div>Kitap Kaç Günde Biter:@Model.Gun</div>

</div>
		}else{

			
	<div class="dnd_section_content">
		<div class="dnd_container">
			<div class="dnd_column_dd_span12 ">
				<div class="wpcf7" id="wpcf7-f2038-p2035-o1" lang="en-US" dir="ltr">
					<div class="screen-reader-response">
					</div>
					<form  asp-action="KitapSayfa">
						<div asp-validation-summary="ModelOnly"></div>
						<div class="row">
							<div class="col-12 mb-3">Aşağıdaki Formu Kitaba uygun şekilde doldurunuz.</div>
							<div class="col-md-4">
								<label>Kitap Adını Giriniz</label>
								<span class="wpcf7-form-control-wrap your-name">
									<input asp-for="KitapAdi" type="text" placeholder="Kitap Adını Giriniz">
								</span>
							</div>
							<div class="col-md-4">
								<label>İlk Gün Okunan Kitap Sayfa Sayısını Giriniz</label>
								<span class="wpcf7-form-control-wrap your-name">
									<input asp-for="IlkGunOkunanSayfa" type="text" placeholder="İlk Gün Okunan Kitap Sayfa Sayısını Giriniz">
								</span>
							</div>
							<div class="col-md-4">
								<label>Her Gün Okunan Kitap Sayfasını Giriniz</label>
								<span class="wpcf7-form-control-wrap your-name">
									<input asp-for="HerGunOkunanSayfasi"  type="text" placeholder="Her Gün Okunan Kitap Sayfasını Giriniz">
								</span>
							</div>
							<div class="col-md-4">
								<label>Kitap Sayfa Sayısını Giriniz</label>
								<span class="wpcf7-form-control-wrap your-name">
									<input asp-for="KitapSayfasi"  type="text" placeholder="Kitap Sayfa Sayısını Giriniz">
								</span>
							</div>
						</div>
						<div class="row">
							<input type="submit" value="Submit">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

		}
	}

</section>
