@{
    ViewData["Title"] = "Hastane Randevu Yönetim Paneli";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz.</h1>
   <div class="text-center">
       <img src="~/Gorseller/Doktorlar.jpg" width="50%">
   </div>
</div>
