@{
    ViewData["Title"] = "Home Page";
}

<!-- Slider -->
    <header class="header slider-fade">
        <div class="owl-carousel owl-theme">
            <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
            <div class="text-center item bg-img" data-overlay-dark="2" data-background="img/AttarSlider2.jpg">
                <div class="v-middle caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                               <h4>SİZİN İÇİN HAZIR</h4>
                                <h1>YEPYENİ BİR OFİS DENEYİMİ</h1>
                                <div class="butn-light mt-30 mb-30"> <a href="Ofisler.html"><span>Detay</span></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center item bg-img" data-overlay-dark="2" data-background="img/AttarSlider2.jpg">
                <div class="v-middle caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <h4>SİZİN İÇİN HAZIR</h4>
                                <h1>YEPYENİ BİR OFİS DENEYİMİ</h1>
                                <div class="butn-light mt-30 mb-30"> <a href="Ofisler.html"><span>Detay</span></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <!-- slider reservation -->
        <div class="reservation" >
            <a href="#">
                <div class="icon d-flex justify-content-center align-items-center">
                    <i class="flaticon-call"></i>
                </div>
                <div class="call"><span>0212 706 18 05</span> <br>Bize Ulaşın</div>
            </a>
        </div>
    </header>
 
    <section class="about section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-30 animate-box" data-animate-effect="fadeInUp">
                    <div class="section-subtitle">Platform Ofis</div>
                    <div class="section-title">Kurumsal firmaların ihtiyaçları doğrultusunda,
                        temel operasyonel giderleri dahil, dekorasyonu
                        hazır şekilde teslim edilecek A+ ofisler.
                        </div>
                    <p>Lüks, mobilya masrafı gerekmeyen, hemen taşınmaya uygun
                        çalışma alanlarımız ile hizmete başlamak için gün sayıyoruz.
                        Tüm operasyonel giderleri, her şey dahil bir paket içerisinde
                        sizin adınıza karşılıyoruz.
                        
                     
                        </p>
                    <p>   Proje ile ilgili detayları 360’yönetiyor, operasyonel süreçlerinizi
                        tek elden halledebilmeniz için size zaman ve enerji tasarrufu sağlıyoruz.</p>
                    <!-- call -->
                    <div class="reservations">
                        <div class="icon"><span class="flaticon-call"></span></div>
                        <div class="text">
                            <p>Bize Ulaşın</p> <a href="#">0212 706 18 05 </a>
                        </div>
                    </div>
                </div>
                <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp">
                    <img src="img/rooms/8.jpg" alt="" class="mt-90 mb-30">
                </div>
                <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp">
                    <img src="img/rooms/2.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Rooms -->
    <section class="rooms1 section-padding bg-cream" data-scroll-index="1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle">Platform Ofis</div>
                    <div class="section-title">Ofisler ve Toplantı Salonları</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="item">
                        <div class="position-re o-hidden"> <img src="img/rooms/1.jpg" alt=""> </div>
                        <div class="con">
                      
                            <h5><a href="#">Ofisler</a> </h5>
                            <div class="line"></div>
                            <div class="row facilities">
                                <div class="col col-md-7">
                                   
                                </div>
                                <div class="col col-md-5 text-right">
                                    <div class="permalink"><a href="Ofisler.html">Detay <i class="ti-arrow-right"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="position-re o-hidden"> <img src="img/rooms/2.jpg" alt=""> </div> 
                        <div class="con">
                       
                            <h5><a href="#">Toplantılarınızı<br/>organize edin</a></h5>
                            <div class="line"></div>
                            <div class="row facilities">
                                <div class="col col-md-7">
                                  
                                </div>
                                <div class="col col-md-5 text-right">
                                    <div class="permalink"><a href="ToplantiOdalari.html">Detay <i class="ti-arrow-right"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="position-re o-hidden"> <img src="img/rooms/3.jpg" alt=""> </div>
                        <div class="con">
                           
                            <h5><a href="#">Resepsiyon</a></h5>
                            <div class="line"></div>
                            <div class="row facilities">
                                <div class="col col-md-7">
                                   
                                </div>
                                <div class="col col-md-5 text-right">
                                    <div class="permalink"><a href=""  >&nbsp;</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item">
                        <div class="position-re o-hidden"> <img src="img/rooms/4.jpg" alt=""> </div>
                        <div class="con">
                         
                            <h5><a href="#">Lounge</a></h5>
                            <div class="line"></div>
                            <div class="row facilities">
                                <div class="col col-md-7">
                                   
                                </div>
                                <div class="col col-md-5 text-right">
                                    <div class="permalink"><a href=""> &nbsp;</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item">
                        <div class="position-re o-hidden"> <img src="img/rooms/7.jpg" alt=""> </div> 
                        <div class="con">
                         
                            <h5><a href="#">Restaurant</a></h5>
                            <div class="line"></div>
                            <div class="row facilities">
                                <div class="col col-md-7">
                                   
                                </div>
                                <div class="col col-md-5 text-right">
                                    <div class="permalink"><a href=""> &nbsp;</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing -->
    <section class="pricing section-padding bg-black">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="section-subtitle"><span>Konfor Odaklı</span></div>
                    <div class="section-title"><span>Sıradışı Ofisler</span></div>
                    <p class="color-2">Platform Ofis olarak toplam
                        4.500 m2’lik bir alan içerisinde; global ve
                        yerel kurumsal şirketlere, üst düzey bir
                        hizmet sağlamak, üyelerimize
                        dekorasyonlu ve taşınmaya hemen
                        hazır ofislerle; modern ve sosyal ofis
                        çözümleri sunmak için yola çıkıyoruz.
                        </p>
                      <div class="reservations mb-30">
                        <div class="icon"><span class="flaticon-call"></span></div>
                        <div class="text">
                            <p class="color-2">Bize Ulaşın</p> <a href="#">0212 706 18 05</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="owl-carousel owl-theme">
                        <div class="pricing-card">
                            <img src="img/pricing/1.jpg" alt="">
                            <div class="desc">
                                <div class="name">4.500 m<sup>2</sup> Alan</div>
                                <p>Toplam 4.500 m2’lik alan içerisinde sizi bekleyen pek çok avantaj var. </p>
                            </div>
                        </div>
                        <div class="pricing-card">
                            <img src="img/pricing/2.jpg" alt="">
                            <div class="desc">
                                <div class="name">Ortak Alanlar</div>
                                <p>Size özel tasarlanan lounge, teras ve restoran ile keyifli alanlarınız var.
                                </p>
                            </div>
                        </div>
                        <div class="pricing-card">
                            <img src="img/pricing/3.jpg" alt="">
                            <div class="desc">
                                <div class="name">Toplantı Salonları</div>
                                <p>Müşterileriniz ve ekibiniz ile birlikte her şeyi düşünülmüş toplantı salonları ile kaliteli iş zamanları geçirebilirsiniz. 
                                </p>
                            </div>
                        </div>
                        <div class="pricing-card">
                            <img src="img/pricing/4.jpg" alt="">
                            <div class="desc">
                                <div class="name">Lounge</div>
                                <p>Bir molaya ihtiyaç duyduğunuzda, size özel tasarlanan lounge alanında dinlenebilir, iş arkadaşlarınızla keyifli bir vakit geçirebilirsiniz. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Promo Video -->
    <section class="video-wrapper video section-padding bg-img bg-fixed" data-overlay-dark="3" data-background="img/slider/2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                    
                        <div class="section-subtitle"><span>Platform Ofis</span></div>
                        <div class="section-title"><span>Evinizin Konforunda Çalışma Ofisleri</span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center col-md-12">
                        <a class="vid" href="https://youtu.be/5ikTDMNeJlM">
                        <div class="vid-butn">
                            <span class="icon">
                                <i class="ti-control-play"></i>
                            </span>
                        </div>
                    </a>
                    </div>

                </div>
            </div>
    </section>
    <!-- Facilties -->
    <section class="facilties section-padding" id="ayricaliklar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle">PLatform Office</div>
                    <div class="section-title">AYRICALIKLAR</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="single-facility animate-box text-center" data-animate-effect="fadeInUp">
                        <i class="fa-solid fa-truck iconColorAnaSayfa"></i>
                        <h5>Kargo ve Nakliye</h5>
                        <!--<p>Ofisinize gelen kargoları  sizin için teslim alıyoruz. </p>-->
                      
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility animate-box text-center" data-animate-effect="fadeInUp">
                        <i class="fa-solid fa-square-parking iconColorAnaSayfa"></i>
                        <h5>Park alanı</h5>
                  
                       
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility animate-box text-center" data-animate-effect="fadeInUp">
                        <i class="fa-solid fa-broom iconColorAnaSayfa"></i>
                        <h5>Temizlik Servisi</h5>
                        
                 
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility animate-box text-center" data-animate-effect="fadeInUp">
                        <i class="fa-solid fa-calendar-days iconColorAnaSayfa"></i>
                        <h5>Çalışanlara Özel Etkinlikler</h5>
                        
                    
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility animate-box text-center" data-animate-effect="fadeInUp">
                        <i class="fa-solid fa-wifi iconColorAnaSayfa"></i>
                        <h5>Fiber İnternet</h5>
                        
                      
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility animate-box text-center" data-animate-effect="fadeInUp">
                        <i class="fa-solid fa-utensils iconColorAnaSayfa"></i>
                        <h5>Gurme Lezzetler </h5>
                     
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility animate-box text-center" data-animate-effect="fadeInUp">
                        <i class="fa-solid fa-print iconColorAnaSayfa"></i>
                        <h5>Fotokopi ve Printer</h5>
                        
                     
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility animate-box text-center" data-animate-effect="fadeInUp">
                        <i class="fa-solid fa-bell-concierge iconColorAnaSayfa"></i>
                        <h5>Servis Personeli</h5>
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility animate-box text-center" data-animate-effect="fadeInUp">
                        <i class="fa-solid fa-user-shield iconColorAnaSayfa"></i>
                        <h5>7/24 Güvenlik</h5>
                        
                     
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testiominals -->
    <section class="testimonials" style="display:none;">
        <div class="background bg-img bg-fixed section-padding pb-0" data-background="img/slider/2.jpg" data-overlay-dark="3">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="testimonials-box">
                            <div class="head-box">
                                <h6>REFERANSLAR</h6>
                                <h4>Müşterilerimiz Ne Diyor?</h4>
                                <div class="line"></div>
                            </div>
                            <div class="owl-carousel owl-theme">

                                <div class="item">
                                    <span class="quote"><img src="img/quot.png" alt=""></span>
                                    <p>Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan hazır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.</p>
                                    <div class="info">
                                        <div class="author-img"> <img src="img/team/4.jpg" alt=""> </div>
                                        <div class="cont"> <span><i class="star-rating"></i><i class="star-rating"></i><i class="star-rating"></i><i class="star-rating"></i><i class="star-rating"></i></span>
                                            <h6>Glow İstanbul</h6> <span>Melike ÇEVİK & Gözde YILMAZ</span>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!-- News -->
        <section class="news section-padding bg-black"  style="display:none;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-subtitle"><span>Platform Office</span></div>
                        <div class="section-title"><span>Blog</span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="position-re o-hidden"> <img src="img/news/1.jpg" alt="">
                                    <div class="date">
                                        <a href="BlogDetay.html"> <span>Ağu</span> <i>02</i> </a>
                                    </div>
                                </div>
                                <div class="con"> 
                                    <h5><a href="BlogDetay.html">Blog Başlığı Gelecek</a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <div class="position-re o-hidden"> <img src="img/news/2.jpg" alt="">
                                    <div class="date">
                                        <a href="BlogDetay.html"> <span>Ağu</span> <i>04</i> </a>
                                    </div>
                                </div>
                                <div class="con"> 
                                    <h5><a href="BlogDetay.html">Blog Başlığı Gelecek</a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <div class="position-re o-hidden"> <img src="img/news/3.jpg" alt="">
                                    <div class="date">
                                        <a href="BlogDetay.html"> <span>Ağu</span> <i>06</i> </a>
                                    </div>
                                </div>
                                <div class="con">
                                    <h5><a href="BlogDetay.html">Blog Başlığı Gelecek</a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <div class="position-re o-hidden"> <img src="img/news/4.jpg" alt="">
                                    <div class="date">
                                        <a href="BlogDetay.html"> <span>Ağu</span> <i>08</i> </a>
                                    </div>
                                </div>
                                <div class="con"> 
                                
                                    <h5><a href="BlogDetay.html">Blog Başlığı Gelecek</a></h5>
                                </div>
                            </div>
                           
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- Services -->
    <section class="services section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 p-0 animate-box" data-animate-effect="fadeInLeft">
                    <div class="img left">
                        <a href="#"><img src="img/restaurant/1.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-md-6 p-0 bg-cream valign animate-box" data-animate-effect="fadeInRight">
                    <div class="content">
                        <div class="cont text-left">
                            <div class="info">
                                <h6>Toplantı</h6>
                            </div>
                            <h4>Toplantılarınızı Organize Edin</h4>
                            <p>İşinizi en iyi şekilde yapabilmeniz için gerekli birçok etken olduğunu biliyoruz. Platform Office size hem ihtiyacınız olan araçları hem de hakettiğiniz konforu vermek için tasarlandı. Junior ve Senior olarak ikiye ayırdığımız toplantı odalarımızdan o gün toplantınız için en uygun olanını seçerek iş hayatınızı kolaylaştırabilirsiniz.</p>
                            <div class="butn-dark"> <a href="ToplantiOdalari.html"><span>Devamını Gör</span></a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 bg-cream p-0 order2 valign animate-box" data-animate-effect="fadeInLeft">
                    <div class="content">
                        <div class="cont text-left">
                            <div class="info">
                                <h6>Restourant</h6>
                            </div>
                            <h4>Gurme Lezzetler ile Platform</h4>
                            <p>Atıştırmalıklar ile gününüzü geçirmeyin.  Platform Office, gurme lezzetleri ve konforlu cafesi ile yemek için bile ofisten çıkmak istememenizi sağlayacak.</p>
                            <div class="butn-dark" style="display:none;"> <a href="#"><span>Devamını Gör</span></a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-0 order1 animate-box" data-animate-effect="fadeInRight">
                    <div class="img">
                        <a href="#"><img src="img/spa/3.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 p-0 animate-box" data-animate-effect="fadeInLeft">
                    <div class="img left">
                        <a href="#"><img src="img/spa/2.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-md-6 p-0 bg-cream valign animate-box" data-animate-effect="fadeInRight">
                    <div class="content">
                        <div class="cont text-left">
                            <div class="info">
                                <h6>Lounge</h6>
                            </div>
                            <h4>Kendinize Vakit Ayırın</h4>
                            <p>Platform Office Lounge alanları harika bir tasarım, teknoloji ve ilhamla size konfor sağlamak için yaratıldı.</p>
                            <div class="butn-dark"style="display:none;"> <a href="#" ><span>Devamını Gör</span></a> </div>
                        </div>
                    </div>
                </div>
            </div>
         
        </div>
    </section>

 
    <section class="clients" style="display:none;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 owl-carousel owl-theme">
                    <div class="clients-logo">
                        <a href="##0"><img src="img/clients/1.png" alt=""></a>
                    </div>
                    <div class="clients-logo">
                        <a href="##0"><img src="img/clients/2.png" alt=""></a>
                    </div>
                  
                    <div class="clients-logo">
                        <a href="##0"><img src="img/clients/5.png" alt=""></a>
                    </div>
                  
                </div>
            </div>
        </div>
    </section>
