
@{
    ViewData["Title"] = "Ofisler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Room Page Slider -->
    <header class="header slider">
        <div class="owl-carousel owl-theme">
            <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
            <div class="text-center item bg-img" data-overlay-dark="3" data-background="/img/Ofisler/ofis1.jpg"></div>
            <div class="text-center item bg-img" data-overlay-dark="3" data-background="/img/Ofisler/ofis2.jpg"></div>
            <div class="text-center item bg-img" data-overlay-dark="3" data-background="/img/Ofisler/ofis3.jpg"></div>
        </div>
        <!-- arrow down -->
        <div class="arrow bounce text-center">
            <a href="#" data-scroll-nav="1" class=""> <i class="ti-arrow-down"></i> </a>
        </div>
    </header>
    <!-- Room Content -->
    <section class="rooms-page section-padding" data-scroll-index="1">
        <div class="container">
            <!-- project content -->
            <div class="row">
                <div class="col-md-12"> 
                    <span>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                    </span>
                    <div class="section-subtitle">Platform Office</div>
                    <div class="section-title">Ofisler</div>
                </div>
                <div class="col-md-8">
                    <p class="mb-30">Kurumsal firmaların ihtiyaçları doğrultusunda, temel operasyonel giderleri dahil, dekorasyonu hazır şekilde teslim edilecek A+ ofisler.</p>
                    <p class="mb-30">Lüks, mobilya masrafı gerekmeyen, hemen taşınmaya uygun çalışma alanlarımız ile hizmete başlamak için gün sayıyoruz. Tüm operasyonel giderleri, her şey dahil bir paket içerisinde sizin adınıza karşılıyoruz.

                        Proje ile ilgili detayları 360’yönetiyor, operasyonel süreçlerinizi tek elden halledebilmeniz için size zaman ve enerji tasarrufu sağlıyoruz.</p>
                    <div class="row">
                        <div class="col-md-12">
                            <h6>Ofislerimizde sizi neler bekliyor?</h6>
                            <ul class="list-unstyled page-list mb-30">
                                <li>
                                    <div class="page-list-icon"> <span class="ti-check"></span> </div>
                                    <div class="page-list-text">
                                        <p>Çalışma Masası</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="page-list-icon"> <span class="ti-check"></span> </div>
                                    <div class="page-list-text">
                                        <p>Misafir Koltukları</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="page-list-icon"> <span class="ti-check"></span> </div>
                                    <div class="page-list-text">
                                        <p>Klima</p>
                                    </div>
                                </li>
                              
                              
                            </ul>
                        </div>
                      
                       
                    </div>
                </div><script src="https://kit.fontawesome.com/5536b331ea.js" crossorigin="anonymous"></script>
                <div class="col-md-3 offset-md-1">
                    <h6>Özellikler</h6>
                    <ul class="list-unstyled page-list mb-30">
                        <li>
                            <div class="page-list-icon"><i class="fa-solid fa-users iconColor"></i> </div>
                            <div class="page-list-text">
                                <p>1-50 Kişi</p>
                            </div>
                        </li>
                        <li>
                            <div class="page-list-icon"> <i class="fa-solid fa-wifi iconColor"></i> </div>
                            <div class="page-list-text">
                                <p>Wifi</p>
                            </div>
                        </li>
                        <li>
                            <div class="page-list-icon">  <i class="fa-solid fa-door-open iconColor"></i></div>
                            <div class="page-list-text">
                                <p>7/24 Erişim</p>
                            </div>
                        </li>
                        <li>
                            <div class="page-list-icon">  <i class="fa-solid fa-truck iconColor"></i></div>
                            <div class="page-list-text">
                                <p>Kargo ve Nakliye</p>
                            </div>
                        </li>
                      
                        <li>
                            <div class="page-list-icon"> <i class="fa-solid fa-square-parking iconColor"></i>  </div>
                            <div class="page-list-text">
                                <p>Park alanı</p>
                            </div>
                        </li>
                        <li>
                            <div class="page-list-icon"> <i class="fa-solid fa-broom iconColor"></i>  </div>
                            <div class="page-list-text">
                                <p>Temizlik Servisi</p>
                            </div>
                        </li>
                        <li>
                            <div class="page-list-icon"><i class="fa-regular fa-calendar-days iconColor"></i></div>
                            <div class="page-list-text">
                                <p>Çalışanlara Özel Etkinlikler</p>
                            </div>
                        </li>
                        <li>
                            <div class="page-list-icon"><i class="fa-solid fa-utensils iconColor"></i></div>
                            <div class="page-list-text">
                                <p>Gurme Lezzetler</p>
                            </div>
                        </li>
                        <li>
                            <div class="page-list-icon"> <i class="fa-solid fa-print iconColor"></i></div>
                            <div class="page-list-text">
                                <p>Fotokopi ve Printer</p>
                            </div>
                        </li>
                        <li>
                            <div class="page-list-icon"><i class="fa-solid fa-bell-concierge iconColor"></i> </div>
                            <div class="page-list-text">
                                <p>Servis Personeli</p>
                            </div>
                        </li>
                        <li>
                            <div class="page-list-icon"><i class="fa-solid fa-user-shield iconColor"></i> </div>
                            <div class="page-list-text">
                                <p>7/24 Güvenlik</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
