
@{
    ViewData["Title"] = "ToplantiOdalari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- Header Banner -->
    <div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="/img/slider/1.jpg">
        <div class="container">
            <div class="row">
				<div class="col-md-12 caption mt-90">
				    <span>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                    </span>
					<h5>Platform Office</h5>
					<h1>Toplantı Salonları</h1>
				</div>
			</div>
        </div>
    </div>
    <!-- Rooms -->
    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="rooms2 mb-90 animate-box" data-animate-effect="fadeInUp">
                        <figure><img src="/img/toplantisalonlari/toplanti1.jpg" alt="" class="img-fluid"></figure>
                        <div class="caption">
                       
                            <h4><a href="#">Junior Office</a></h4>
                            <p>İşinizi en iyi şekilde yapmanız için tasarlandı. </p>
                            <div class="row room-facilities">
                                <div class="col-md-4">
                                    <ul>
                                        <li><i class="fa-solid fa-users iconColor"></i> 10 kişilik</li>
                                        <li><i class="fa-solid fa-wifi iconColor"></i> Wifi</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li><i class="fa-solid fa-plug iconColor"></i> Kolay Entegre</li>
                                        <li><i class="fa-solid fa-tv iconColor"></i> LCD Tv</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li><i class="fa-solid fa-cookie-bite iconColor"></i>Atıştırmalıklar</li>
                                        <li><i class="fa-solid fa-video iconColor"></i>Projeksiyon</li>
                                    </ul>
                                </div>
                            </div>
                         <!--   <hr class="border-2">
                            <div class="info-wrapper">
                                <div class="more"><a href="#" class="link-btn" tabindex="0">Detay <i class="ti-arrow-right"></i></a></div>
                             
                            </div>-->
                        </div>
                    </div>
                    <div class="rooms2 mb-90 left animate-box" data-animate-effect="fadeInUp">
                        <figure><img src="/img/toplantisalonlari/toplanti2.jpg" alt="" class="img-fluid"></figure>
                        <div class="caption">
                            <h4><a href="#">Senior Office</a></h4>
                            <p>İşinizi en iyi şekilde yapmanız için tasarlandı.</p>
                              <div class="row room-facilities">
                                <div class="col-md-4">
                                    <ul>
                                        <li><i class="fa-solid fa-users iconColor"></i> 30 kişilik</li>
                                        <li><i class="fa-solid fa-wifi iconColor"></i> Wifi</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li><i class="fa-solid fa-plug iconColor"></i> Kolay Entegre</li>
                                        <li><i class="fa-solid fa-tv iconColor"></i> LCD Tv</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li><i class="fa-solid fa-cookie-bite iconColor"></i>Atıştırmalıklar</li>
                                        <li><i class="fa-solid fa-video iconColor"></i>Projeksiyon</li>
                                    </ul>
                                </div>
                         
                                 <!--   <hr class="border-2">
                            <div class="info-wrapper">
                                <div class="more"><a href="#" class="link-btn" tabindex="0">Detay <i class="ti-arrow-right"></i></a></div>
                             
                            </div>-->
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>
    </section>
